#projection {
    position: fixed;
    top: 0;
    left: 0;
    height: 80%;
    width: 90%;
    margin: 3%;
    padding: 2%;
    background: wheat;
}

#projeciton #movie-name, #projeciton .row {
    text-align: center;

} 
#projection .seat {
    width: 30px;
    height: 30px;
    display: inline-block;

}

#projection .seat input {
    transform: scale(1.5);
}