<div id="projection">
 <h1 id="movie-name">{{projectionData.movieName}}</h1>
  <div id="auditory-plan">
    <div *ngFor="let row of auditoryPlan; let i=index">
        <span *ngFor="let seat of row; let j=index" class="seat" >
          <input type="checkbox" *ngIf="isSeat(seat)" 
                 [disabled]="isOccupied(seat)" (click)="occupy($event)" /> 
        </span>
    </div>
  </div>

  <div>{{projectionData.price * ticketsCount}}&#8364;</div>
  <button *ngIf="ticketsCount">Buy</button>
</div>
