<div class="movie">
  <h1>{{name}}</h1>
  <div class="calendar">
    <div class="day" *ngFor="let day of week">
      {{day}}
      <div *ngFor="let projection of filterByDay(day)"> 
        <a [routerLink]="[ 'projection',projection.projectionId ]">{{projection.time}}</a></div>
    </div>
  </div>
</div>
